.custom-card {
    padding: 25px;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.27);
}

.main_container {
    width: 75%;
    margin: 0 auto
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background: whitesmoke;
    position: relative;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

body::after {
    content: '';
    display: block;
    margin-left: 10px;
    height: 70px;
}

.comment-section {
    margin-left: 50px;
}

.comment-header {
    height: 75px;
    line-height: 75px;
    padding-left: 25px;
    background: rgba(225,225,225,1);
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}

.comment-header img {
    height: 45px;
    margin-right: 25px;
}

.reply {
    padding-left: 10px;
    margin: 25px 0;
    border-left: black solid 2px;
}